html, body, #intro {
    height: 100%;
}

.navbar-inner {
    background: transparent;
}

.jumbotron {
    background: rgba(255, 255, 255, 0.6);
    margin: 40px 40px 0px 40px;
}

#intro {
    background: url("Investment--.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}